<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/admin/generate/complete"><button type="submit" class="btn btn-secondary">Completed Reports</button></a>
            </div>
            <div class="col-sm">
                <a href="/admin/generate/app"><button type="submit" class="btn btn-secondary">Approved Reports</button></a>
            </div>
            <div class="col-sm">
                <a href="/admin/generate/ncomplete"><button type="submit" class="btn btn-secondary">Not Initiated Reports</button></a>
            </div>
        </div>
    </div>

    <hr>

    <br>

    <div class="card" style="padding: 30px;">
        <form action="/admin/generate/category" method="post">
            <div class="form-group">
                <label for="categories">Categories</label>
                <select name="categories" id="categories" class="form-control">
                    <option value="">Select a category</option>
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Generate Report</button>
        </form>
    </div>
</main>