<div style="height: 600px; width: 1240px; background-image: url(https://images.shiksha.com/mediadata/images/1552457480php6LZTsx.jpeg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
{{#if success_message}}
    <div class="alert alert-success" role="alert">
        {{success_message}}
    </div>
{{/if}}
    <h1>Admin Home</h1>
</main>
</div>